
{% extends 'base.html' %}
{% load static %}
{% block title %} Scrumptious Recipes {% endblock title %}

{% block content %}
	<main>
		<div>
			<div>
				<img class="food-pictures-2" src="{{ recipe_object.picture }}" />
				<div class="star-ratings-details" >
					{% if recipe_object.rating == 1 %}
					<div class="star-ratings-front">★☆☆☆☆</div>
					{% elif recipe_object.rating == 2 %}
					<div class="star-ratings-front">★★☆☆☆</div>
					{% elif recipe_object.rating == 3 %}
					<div class="star-ratings-front">★★★☆☆</div>
					{% elif recipe_object.rating == 4 %}
					<div class="star-ratings-front">★★★★☆</div>
					{% elif recipe_object.rating == 5 %}
					<div class="star-ratings-front">★★★★★</div>
					{% endif %}
				</div>
			</div>
			<p id="body-text"> {{ recipe_object.description }}</p>
			<h2>Ingredients</h2>
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<th>Amount</th>
				<th>Food Item</th>
			</tr>
		</thead>
		<div>
			<tbody class="stripe">
				{% for ingredient in recipe_object.ingredients.all %}
				<tr>
					<td>{{ ingredient.amount }}</td>
					<td>{{ ingredient.food_item }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</div>
	</table>
	<h2>Steps</h2>
	<ol>
		{% for step in recipe_object.steps.all %}
		<li>{{ step.instructions }}</li>
		{% endfor %}
	</ol>
	<a href="{% url 'create_recipe' %}">Create Recipe</a>
	<a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>

</main>

<footer>
	Made with love by Scrumptious Recipes
	<form>
		<label for="email">Get recipes straight to your inbox!</label>
		<input
			type="email"
			id="email"
			name="email"
			placeholder="email address"
			required
		/>
		<button type="submit">Subscribe</button>
	</form>
</footer>
{% endblock content %}
