{% extends 'base.html' %} {% load static %} {% block title %} Scrumptious
Recipes {% endblock title %} {% block content %}

<main>
	<h1>Edit {{ recipe_object.title }}</h1>
	<form method="post">
		{% csrf_token %} {{ recipe_form.as_p }}
		<button>Save</button>
	</form>
</main>

<footer>
	Made with love by Scrumptious Recipes
	<form>
		<label for="email">Get recipes straight to your inbox!</label>
		<input
			type="email"
			id="email"
			name="email"
			placeholder="email address"
			required
		/>
		<button type="submit">Subscribe</button>
	</form>
</footer>
{% endblock content %}
