<!-- https://webflow.com/templates/html/veggify-recipe-website-template -->
{% extends 'base.html' %} {% load static %} {% block title %} Scrumptious
Recipes {% endblock title %} {% block content %}

<main>
	<h2>All the food that's fit to eat</h2>
	<div class="grids">
		{% for recipe in recipe_list %}
		<div>
			<div>
				<h4>
					<a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
				</h4>
				<img class="food-pictures" src="{{ recipe.picture }}" />
			</div>
			<div class="star-ratings">
				{% if recipe.rating == 1 %}
				<div class="star-ratings-front">★☆☆☆☆</div>
				{% elif recipe.rating == 2 %}
				<div class="star-ratings-front">★★☆☆☆</div>
				{% elif recipe.rating == 3 %}
				<div class="star-ratings-front">★★★☆☆</div>
				{% elif recipe.rating == 4 %}
				<div class="star-ratings-front">★★★★☆</div>
				{% elif recipe.rating == 5 %}
				<div class="star-ratings-front">★★★★★</div>
				{% endif %}
			</div>
			<p class="date-color">{{ recipe.created_on|date:"M j, Y" }}</p>
		</div>
		{% endfor %}
	</div>
</main>
<footer>
	Made with love by Scrumptious Recipes

	<form>
		<label for="email">Get recipes straight to your inbox!</label>
		<input
			type="email"
			id="email"
			name="email"
			placeholder="email address"
			required
		/>
		<button type="submit">Subscribe</button>
	</form>
</footer>
{% endblock content %}
