<nav class="nav-grid">
	<p>Scrumptious.Cafe</p>
	<a href="{% url 'recipe_list' %}">Main Page</a>
	<a href="{% url 'recipe_list' %}">Recipes</a>
	<p id="phone">Call Us: 867-5309</p>
	{% if user.is_authenticated %}
	<a href="{% url 'my_recipe_list' %}">My Recipes</a>
	<a href="{% url 'create_recipe' %}">Submit Recipe</a>
	<a href="{% url 'logout' %}">Logout</a>

	{% else %}
	<a href="{% url 'signup' %}">Sign-up</a>
	<a href="{% url 'login' %}">Login</a>
	{% endif %}
</nav>
